        .container img{
            width: 10%;
            height: 20%;
        } 


        .first {
            background-image: url(image/h_img.jpg) ;
            background-size: cover;
            position: relative;
            text-align: center;
            height: 500px;
            
        
            
        }


        .first  {
            margin: 20px;
            color: aliceblue;
            text-align: center;
            font-size: 20px;
            font-family: 'Geostar', cursive;
            font-family: 'Roboto Condensed', sans-serif;
            
        }
        #p{
            color: black;
            font-size: 12px;
            text-align: center;
            font-family: 'Geostar', cursive;
    font-family: 'Roboto Condensed', sans-serif;
        }

        .second {
            background-image: url(image/s_image.jpg) ;
            color: aliceblue;
            background-size: cover;
            position: relative;
            text-align: center;
            height: 300px;
            font-family: 'Geostar', cursive;
    font-family: 'Roboto Condensed', sans-serif;
        }
        .third {
            background-image: url(image/c_image.jpg) ;
            
            background-size: cover;
            position: relative;
            text-align: center;
            height: 400px;
        }
        .form{
            background-color: unset;
        border: solid white 1px;
        

        }
        .fourth{
            width: 500px;
            position: static;
            left: 0;
            text-align: center;
            
        } 
        #footer{
            text-align: center;
        
        }
        .pp{
            color: white;
        }
        ::placeholder{
            color: white;
        }
        .pp1{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
        
            
        }

        #pic1{
            position: relative;
            width:270px;
        }

        .pp22{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
            
        }

        #pic22{
            position: relative;
            width:270px;
        

        }

        .p33{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pict3{
            position: relative;
            width:270px;

        }

        .p4{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pic4{
            position: relative;
            width:270px;

        }

        .p5{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pic5{
            position: relative;
            width:270px;

        }

        .p6{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pic6{
            position: relative;
            width:270px;

        }

        .p7{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pic7{
            position: relative;
            width:270px;

        }

        .p8{
            position: absolute;
            padding-left: 110px;
            padding-top: 80px;
            font-size: 20px;
            color: black;
            
            
        }

        #pic8{
            position: relative;
            width:270px;

        }

        