.container img{
    width: 10%;
    height: 20%;
} 


.first {
    background-image: url(image/h_img.jpg) ;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 500px;
   
    
}


.first  {
    margin: 20px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    
}
#p{
    color: black;
    font-size: 12px;
    text-align: center;
}

.second {
    background-image: url(image/s_image.jpg) ;
    color: aliceblue;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 300px;
}
.third {
    background-image: url(image/c_image.jpg) ;
    
    background-size: cover;
    position: relative;
    text-align: center;
    height: 400px;
}
.form{
    background-color: unset;
  border: solid white 2px;
 

}
.fourth{
    width: 500px;
    position: static;
    left: 0;
    text-align: center;
}
#footer{
    text-align: center;

}
#pp{
    color: white;
}
